@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

:root {
    --letra-poppins: 'Poppins', sans-serif;
    --letra-inter: 'Inter', sans-serif;
    --letra-montserrat: 'Montserrat', sans-serif;
    --letra-open-sans: 'Open Sans', sans-serif;
    --letra-manrope: 'Manrope', sans-serif;

    --fondo-navegacion: #4aacee;
    --fondo-card: #f4f6f7;
    --fondo-footer: #e5e7e9;
    --fondo-copyright: #f2f3f4;
    --fondo-redes: #f5f5f6;

    --color-blanco: #ffffff;
    --color-negro: #000;
    --color-span-uno: #ebdd1e;
    --color-celeste: #3498db;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 0 70px 0 70px;
}

.header {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    max-width: 110%;
}

.logo__img {
    width: 140px;
    font-family: var(--letra-poppins);
    color: var(--color-blanco);
}

.menu {
    display: flex;
}

.menu__enlaces {
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.redes {
    display: flex;
    align-items: center;
}

.menu__list,
.menu__list--redes {
    display: flex;
}

.menu__list li {
    list-style: none;
}

.menu__list a {
    text-decoration: none;
    margin-right: 0.9em;
    font-family: var(--letra-poppins);
    color: var(--color-blanco);
    font-size: 14px;
}

.login__inicio {
    text-decoration: none;
    font-family: var(--letra-poppins);
    background-color: var(--color-span-uno);
    color: var(--color-blanco);
    padding: 8px 30px;
    font-size: 14px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.login__inicio--dos {
    background: transparent;
    border: 1px solid rgb(38, 236, 220);
    color: var(--color-blanco);
}

.hamburguer {
    display: none;
}

.hamburguer__img {
    width: 20px;
}

@media screen and (max-width: 800px) {

    .container {
        padding: 0 30px 0 30px;
    }

    .hamburguer {
        display: block;
    }

    .menu {
        position: fixed;
        top: 70px;
        left: 0;
        width: 70%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #1992e2;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }

    .menu2 {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }

    .menu__list {
        flex-direction: column;
        padding-left: 15px;
    }

    .menu__list--enlaces {
        justify-content: space-around;
        height: 62vh;
    }

    .menu__list--redes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .login {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-top: 40px;
        padding-right: 10px;
    }

    .login__inicio {
        width: max-content;
        margin-top: 10px;
    }
}

/* TEXTOS DEL HEADER */
.textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.textos__presentacion {
    text-align: center;
    max-width: 80%;
}

.texto__titulo {
    font-size: 2.3em;
}

.texto__titulo span {
    font-size: 1.8em;
    color: var(--color-span-uno);
}

.texto__titulo,
.texto__parrafo {
    font-family: var(--letra-poppins);
    color: var(--color-blanco);
}

.texto__parrafo span {
    font-size: 1.5em;
    color: var(--color-span-uno);
}

.textos__botones {
    padding-top: 30px;
    padding-bottom: 30px;

}

.botones__btn {
    font-size: 13px;
    padding: 13px 30px;
    background-color: var(--fondo-navegacion);
    border-radius: 30px;
    margin-right: 20px;
    color: var(--color-blanco);
    text-decoration: none;
    font-family: var(--letra-poppins);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.botones__btn-dos {
    background: transparent;
    border: 2px solid rgb(12, 223, 238);
    margin: 0;
}

.buscar {
    width: 55%;
}

.buscar__input {
    width: 100%;
    padding: 18px 12px;
    font-family: var(--letra-poppins);
    border: none;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media (min-width: 220px) and (max-width: 300px) {
    .container {
        padding: 0 20px 0 20px;
    }

    .logo__img {
        width: 80px;
    }

    .textos {
        max-width: 100%;
        padding-top: 50px;
    }

    .texto__titulo {
        font-size: 1em;
    }

    .texto__parrafo {
        font-size: 0.8em;
    }

    .textos__botones {
        display: grid;
        max-width: 100%;
    }

    .botones__btn {
        font-size: 0.6em;
        margin-top: 10px;
        padding: 10px 25px;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }

    .buscar {
        width: 100%;
    }

    .buscar__input {
        width: 100%;
        padding: 10px 0;
        font-size: 0.8em;
        padding-left: 20px;
    }
}


/* PROYECTOS */

.presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
}

.presentacion__titulo {
    font-family: var(--letra-open-sans);
    font-size: 2em;
}

.proyectos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    gap: 20px;
}

.proyectos__card {
    max-width: 30%;
    padding: 20px 20px;
    background-color: var(--fondo-card);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.proyecto__img {
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.proyecto__titulo {
    font-family: var(--letra-manrope);
    font-size: 1.3em;
    padding: 15px 0 15px 0;
}

.proyecto__parrafo {
    font-family: var(--letra-inter);
    text-align: justify;
    line-height: 23px;
}

.footer__view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
}

.footer__view li {
    list-style: none;
}

.footer__view a {
    text-decoration: none;
    font-family: var(--letra-montserrat);
    font-size: 0.7em;
    color: var(--color-negro);
    font-weight: 700;
}

@media (min-width: 200px) and (max-width:300px) {
    body {
        font-size: 13px;
    }

    .presentacion__titulo {
        text-align: center;
    }

    .proyectos {
        display: grid;
        grid-template-columns: 1fr;
    }

    .proyectos__card {
        max-width: 100%;
    }
}

/* FOOTER */

.footer {
    background-color: var(--fondo-footer);
    height: 40vh;
    padding: 30px 30px;
}

.footer__navegacion {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    padding-bottom: 20px;
}

.footer__titulo {
    font-family: var(--letra-manrope);
}

.footer__Lista li {
    list-style: none;
}

.footer__Lista a {
    text-decoration: none;
    font-family: var(--letra-inter);
    font-size: 0.8em;
    color: var(--color-negro);
    line-height: 23px;
}

.footer__lista--redes {
    display: flex;
    justify-content: space-between;
}

.footer__lista--redes a {
    margin-right: 20px;
    padding: 10px 10px;
    z-index: 1;
    background-color: var(--fondo-redes);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.copyright {
    background-color: var(--fondo-copyright);
    padding: 20px 0;
}

.copyright__texto {
    text-align: center;
    font-family: var(--letra-open-sans);
    font-size: 0.9em;
}

@media (min-width: 200px) and (max-width:300) {
    .footer {
        height: 200vh;
    }

    .footer__navegacion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr;
    }
}